* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 15px;
}

#jeu {
   text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reponse {
    width: 20%;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.mot {
    width: 35%;
    height: 100%;
    font-size: 1.5em;
    overflow: hidden;
    border-bottom: ridge 1px black;
    margin: 5px;

}

#jeu {
    width: 90%;
    height: 700px;
    border: ridge 5px royalblue;
    margin: 15px;
}

#pendu {
    width: 30%;
    height: 90%;
    border: ridge 5px royalblue;
}

#barre-horizontale {
    width: 60%;
    height: 3%;
    background-color: black;
}

#barre-laterale {
    width: 3%;
    height: 60%;
    background-color: black;
}