* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 15px;
    background-color: #b7daff;
}

#jeu {
   text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #224b86;
    width: 75%;
    height: 600px;
    border: ridge 10px lightgoldenrodyellow;
    border-radius: 10px;
    margin: 15px;
}

#reponse {
    width: 40%;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.mot {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    overflow: hidden;
    border-bottom: ridge 1px black;
    margin: 5px;
    color: #00ffd0;

}

#input {
    text-align: center;
    width: 30%;
    height: 35px;
    font-size: 1.5em;
    margin: 15px;
}

#nombreLettre {
    color: #00ffd0;
    margin: 15px;
}

#regle {
    width: 50%;
    margin: 15px;
    color: #ffffff;
}

a {
    text-decoration-line: none;
    color: black;
}

#reset {
    margin: 15px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}


@media screen and (max-width: 800px) {
    #reponse {
        width: 100%;
    }

    .mot {
        font-size: 1em;
    }
}



