* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 15px;
}


#jeu {
    width: 90%;
    height: 700px;
    border: ridge 5px royalblue;
    margin: 15px;
}

#pendu {
    width: 30%;
    height: 90%;
    border: ridge 5px royalblue;
}

#barre-horizontale {
    width: 60%;
    height: 3%;
    background-color: black;
}

#barre-laterale {
    width: 3%;
    height: 60%;
    background-color: black;
}